<head>
    <script src="https://kit.fontawesome.com/c9d9a9c246.js" crossorigin="anonymous"></script>
</head>


<nav>
    <img routerLink="/landing" class="aksantara" src="../../assets/image/aksantara.png" />
    <div class="top-icon">
        <ul>
            <li>
                <a routerlink="/dashboard" href="dashboard"><i class="fas fa-plane" ></i></a>
                <a routerlink="/mission" href="mission"><i class="fas fa-map-marked-alt" ></i></a>
                <a routerlink="/parameter" href="parameter"><i class="fas fa-file-code" ></i></a>
                <a>
                    <i (click)="listUAV()" class="fas fa-microchip" id="open"></i>
                </a>

            </li>


        </ul>


    </div>



    <div class="user">
      <!-- <div class="connect-list">
        <label for="channel"></label>
        <select name="channel" id="channel" [(ngModel)]="connectUsing">
          <option value="serial">Serial Port</option>
          <option value="udp">UDP</option>
        </select>
        <button class="connect-btn" (click)="connect()">
          Connect
        </button>
      </div> -->


        <ul>
            <li>
                <a id="profile"><i (click)="userPopup()" class="fas fa-user-alt" ></i></a>

            </li>

            <!-- <li><a class="active" href="#" routerLink="/login">Login</a> </li> -->
        </ul>

    </div>



</nav>


<div *ngIf="list" class="uav-list" id="uav-list">
    <div class="uav-list-header">
        <div class="title">UAV Active Room List</div>

        <button (click)="listUAV()" class="close-button" id="close">&times;</button>

    </div>
    <div *ngIf="listroom && listroom.length!=0, else defaultroom" class="uav-list-body">
         <li *ngFor="let room of listroom">
            {{ room }}
        </li>

    </div>
    <ng-template #defaultroom>
      <div  class="uav-list-body">
       No active room
   </div>
    </ng-template>

</div>
<div *ngIf="list" id="overlay"></div>


<div *ngIf="user" class="profile-popup">
    <div class="profile-popup-header">
        <div class="title">Profile</div>
        <button (click)="userPopup()" class="close-button" id="cancel">&times;</button>

    </div>
    <div class="profile-popup-body">
        <i class="fas fa-user-alt"></i>
        <div class="user-loggedin">
          <p>Name : {{ dataUser.nama }} </p>
          <p>Email : {{ dataUser.email }} </p>
        </div>

        <a class="logout-btn" (click)="logoutUser()">Logout</a>
    </div>
</div>

<!-- <input type="checkbox " id="check ">
<label for="check ">
    <i class="fas fa-bars " id="btn "></i>
    <i class="fas fa-bars " id="cancel "></i>
  </label>
<div class="sidebar ">
    <ul>
        <li><a routerLink="/dashboard "></a></li>
        <li><a routerLink="/mission ">Mission</a></li>
        <li><a routerLink="/parameter ">Parameter</a></li>
        <li><a routerLink="/home ">Home</a></li>
        <li><a (click)="logoutUser() ">Logout</a></li>
    </ul>

</div> -->
