@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-size: cover;
}

.glass {
    background: rgb(255, 193, 0);
    min-height: 420px;
    min-width: 450px;
    background: linear-gradient(to right bottom, rgba(96, 87, 223, 0.7), rgba(9, 25, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    z-index: 1;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #ff0022;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ff0022;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 13px;
    width: 80%;
    float: left;
    margin: 0 10px;
    height: 20px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    background: none;
    background: linear-gradient(to right bottom, rgb(205, 114, 86), rgb(222, 21, 21));
    border: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 2rem;
    transition: .5s;
    font-family: 'Titillium Web', sans-serif;
}

input.btn:hover {
    background: #cc6d7d;
}

nav {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    vertical-align: middle;
    position: fixed;
    z-index: 9;
}

nav img {
    margin-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    padding: 5px 15px 5px 15px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 18px 10px 0 0;
    background: linear-gradient(to right bottom, rgba(119, 123, 206, 0.7), rgba(46, 48, 175, 0.834));
    border-radius: 5px;
    transition: .5s;
}

nav ul li a.active:hover {
    background: #5f91dd;
}

label.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #f5f4f4;
}

.video-container{
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  position: absolute;
}
video{
  position: fixed;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(0.7);
  }
