<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antharwa Ground Control Station </title>

</head>

<body>
    <nav>
        <img routerLink="/landing" class="aksantara" src="../../assets/image/aksantara.png" />

        <ul>
            <li><a class="active" href="#" routerLink="/login">Login</a> </li>
            <li><a class="active" href="#" routerLink="/register">Register</a> </li>
        </ul>
    </nav>

    <main>

        <div class="about">
            <h1>ANTHARWA Ground Control Station</h1>

            <p>GCS Antharwa adalah GCS yang dikembangkan berbasis web application dengan menerapkan skema autentikasi agar dapat diakses oleh banyak pengguna di berbagai device apapun. Terdapat tiga fungsi utama dari GCS Antharwa yaitu menerima dan menampilkan
                flight data dari UAV, merencanakan dan mengirimkan misi terbang ke UAV, dan melakukan pengaturan serta penerimaan parameter UAV. GCS yang dibangun akan mengimplementasikan tiga fungsi utama tersebut. Namun agar lebih memudahkan operator
                UAV,untuk memantau flight data dapat dilakukan bukan hanya dengan cara klasik seperti mengetik dan menekan tombol namun juga dapat dilakukan melalui suara dengan mengintegrasikan GCS dengan teknologi voice recognition. Fitur lain dari
                GCS Antharwa adalah controlling dan monitoring multi wahana.
              </p>


        </div>

    </main>

</body>

</html>
