@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";
nav {
  width: 100%;
  height: 80px;
  margin: 0 auto;

  vertical-align: middle;
  position: fixed;
}

nav img {
  margin-left: 20px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  padding: 5px 15px 5px 15px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 18px 10px 0 0;
  background: linear-gradient(to right bottom, rgba(119, 123, 206, 0.7), rgba(46, 48, 175, 0.834));
  border-radius: 5px;
  transition: .5s;
}
nav ul li a.active:hover {
  background: #6f81ec
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;

}

.about {
  width: 100vh;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: rgb(10, 10, 10);
  margin-top: 20vh;
  animation: landing 5s linear 1s normal;
  animation-timing-function: ease-in-out;
  z-index: 1;
  /* text-shadow: 2px 2px 4px #000000; */
  background: #ffffff;
  border-radius: 20px;
  width: 60%;
  height: 50%;
  padding: 30px 30px;
}

@keyframes landing {
  0%{
    opacity: 0;
    margin-top: 30vh;
  }

  50%{
    opacity: 1;
    margin-top: 20vh;
  }
}

.about p {
  margin: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;


}

.about h1{
  font-size: 40px;
  font-weight: bolder;
  color: rgb(228, 114, 22);
}

video{
position: fixed;
object-fit: cover;
height: 100%;
width: 100%;
z-index: -1;
filter: brightness(0.7);
}

.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  padding: 1em;
  color: var(--white);
  align-items: center;
}
.video-container{
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}
