<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antharwa Ground Control Station </title>

</head>

<body>


    <nav>
        <img routerLink="/landing" class="aksantara" src="../../assets/image/aksantara.png" />

        <ul>
            <li><a class="active" href="#" routerLink="/login">Login</a> </li>
            <li><a class="active" href="#" routerLink="/register">Register</a> </li>
        </ul>
    </nav>
    <div class="video-container">
      <video autoplay [muted]="'muted'" loop> <source src="../../assets/video/hero.mp4" type="video/mp4"></video>
      <div class="video-content">
        <img src="../../assets/image/logoWhite.png">
      </div>
    </div>
    <main>

        <div class="about">
            <h1>SECTUMSEMPRA</h1>

            <p> SECTUMSEMPRA adalah sistem GCS (Ground Control Station) yang dikembangkan berbasis web application dengan menerapkan skema autentikasi agar dapat diakses oleh banyak pengguna di berbagai device apapun. Terdapat tiga fungsi utama dari GCS SECTUMSEMPRA yaitu menerima dan menampilkan
                flight data dari UAV, merencanakan dan mengirimkan misi terbang ke UAV, dan melakukan pengaturan serta penerimaan parameter UAV. GCS yang dibangun akan mengimplementasikan tiga fungsi utama tersebut. Namun agar lebih memudahkan operator
                UAV,untuk memantau flight data dapat dilakukan bukan hanya dengan cara klasik seperti mengetik dan menekan tombol namun juga dapat dilakukan melalui suara dengan mengintegrasikan GCS dengan teknologi voice recognition. Fitur lain dari
                GCS SECTUMSEMPRA adalah controlling dan monitoring multi wahana.
              </p>


        </div>

    </main>

</body>

</html>
