<!DOCTYPE html>
<html lang="en">

<head>

</head>



<body>

    <app-header> </app-header>
    <!-- <nav>
    <img class="aksantara" src="../../assets/image/aksantara.png"/>
    <ul>
      <li><h1>Parameter</h1></li>
    </ul>


  </nav> -->

    <main>

      <div class="buttonClass">
        <button class="clr-btn"><span>Clear Parameter</span></button>
        <button class="parameter-btn" (click)="getAllParameters()"><span>Get Parameter</span></button>
        <button class="parameter-btn" (click)="sendAllParameters()"><span>Send Parameter</span></button>
        <div class="room-input">
          <h3>Enter Room Code</h3>
        <input (keyup.enter)="onKey($event)">
        <div class="instruction">
          <p>to input your room please press enter on your keyboard, So our system can receive it. </p>
        </div>
        <div class="leave-btn" (click)="leaveroom()">Leave Room</div>


        </div>

        </div>


        <table>
          <tr>
            <th><p>Param Index</p></th>
            <th><p>Param Name</p></th>
            <th><p>Param Value</p></th>
            <th><p>Param Type</p></th>
          </tr>

          <tr *ngFor="let param of allparam">
              <td><p>{{ param.param_index }}</p></td>
              <td><p>{{ param.param_id }}</p></td>
              <td><input type="number" [(ngModel)]="param.param_value" placeholder="{{ param.param_value }}"/></td>
              <td><p>{{ param.param_type }}</p></td>
          </tr>

        </table>


    </main>
</body>

</html>
