<!DOCTYPE html>
<html lang="en">

<head>

</head>



<body>

    <app-header> </app-header>
    <!-- <nav>
    <img class="aksantara" src="../../assets/image/aksantara.png"/>
    <ul>
      <li><h1>Mission</h1></li>
    </ul>


  </nav> -->

    <main>
        <div class="container">
            <div class="plan">

                <div class="buttonClass">
                    <button class="read-btn" (click)="readMission()"><span>Read</span></button>
                    <button class="write-btn" (click)= "sendMission()" ><span>Write</span></button>
                    <button class="home-btn"><span>Home</span></button>
                </div>

                <div class="home">
                    <p>Home Location</p>
                    <p class="number"><span style="font-size: 20px;" id="latitude">Lat  : {{ this.Lat }}</span></p>
                    <p class="number"><span style="font-size: 20px;" id="longitude">Lon : {{ this.Lon }}</span></p>

                </div>
                <h3>Enter Room Code</h3>
                <input (keyup.enter)="onKey($event)">
                <h3>Enter your altitude</h3>
                <input (keyup.enter)="onKeyalt($event)">
                <div class="instruction">
                  <p>to input your room or altitude please press enter on your keyboard, So our system can receive it. </p>
                </div>



            </div>

            <div class="map">
                <app-map [isMap]="isMap"></app-map>
            </div>


        </div>

        <app-waypoint-editor></app-waypoint-editor>



    </main>
</body>

</html>
