<!DOCTYPE html>
<html lang="en">

<head>

</head>



<body>

    <app-header> </app-header>
    <!-- <nav>
    <img class="aksantara" src="../../assets/image/aksantara.png"/>
    <ul>
      <li><h1>Mission</h1></li>
    </ul>


  </nav> -->

    <main>
        <div class="container">
            <div class="plan">

                <div class="buttonClass">
                    <button class="read-btn"><span>Read</span></button>
                    <button class="write-btn"><span>Write</span></button>
                    <button class="home-btn"><span>Home</span></button>
                </div>

                <div class="home">
                    <p>Home Location</p>
                    <p class="number"><span style="font-size: 20px;" id="latitude">Lat  : {{ this.Lat }}</span></p>
                    <p class="number"><span style="font-size: 20px;" id="longitude">Lon : {{ this.Lon }}</span></p>

                </div>


            </div>

            <div class="map">
                <app-map [isMap]="isMap"></app-map>
            </div>


        </div>

          <app-waypoint-editor></app-waypoint-editor>



    </main>
</body>

</html>
