@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  color: white;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 150vh;
  background: linear-gradient(to right top, #ffc100, #ff4d00);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;

}



.container {
  display: flex;

}

.plan {

  background: rgb(255,193,0);
  height: 100vh;
  width: 20%;
  background: linear-gradient(to right bottom, rgb(221, 142, 51),rgb(255, 91, 9));
  backdrop-filter: blur(2rem);
  text-align: center;
  display: inline-block;
}

.map {

  height: 100%;
  width: 80%;

}

.buttonClass {
  width: 60%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #192E54;
  margin: 30px 10px 0 0;
  padding: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s;
}

span {
  font-size: 15px;
  color: white;
}

button.read-btn:hover {
  background-color: #284d92;
}
button.write-btn:hover {
  background-color: #284d92;
}
button.home-btn:hover {
  background-color: #284d92;
}

.home{
  background: rgb(255,193,0);
  background: linear-gradient(to right bottom, rgba(218, 194, 64, 0.7),rgba(251, 255, 9, 0.3));
  backdrop-filter: blur(2rem);
  height: 15vh;
  width: 30vh;
  border-radius: 10px;
  margin: 30px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;

}

.home p {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 20px;

}

.home .number {
  font-size: 20px;


}

.instruction {
  font-family: sans-serif;
  color: white;
  margin: 10px;
}

.instruction p {
  font-size: 10px;
}


.leave-btn{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* justify-content: center; */
  width: 50%;
  background-color: #192E54;
  border: none;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 12px;
  margin-left :75px;
  border-radius: 2rem;
  transition: .5s;

}



