@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 150vh;
  background: linear-gradient(to right top, #ffc100, #ff4d00);

}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;

}

nav {
  z-index: 10;
  position: absolute;
  width: 100%;
  min-width: 150vh;
  height: 80px;
  margin: 0 auto;
  background-color: #192E54;
  vertical-align: middle;
}

nav img {
  margin-left: 20px;
}

nav ul {
  float: right;
  margin-right: 20px;
  display: flex;
}

nav ul h1 {
  color: white;
  margin-right: 80px;

}


nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  padding: 5px 15px 5px 15px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 18px 10px 0 0;
  background: #F59400;
  border-radius: 5px;
}


.sidebar{
  z-index: 10;
  position:fixed;
  transform: translateX(-250px);
  width: 250px;
  height: 100%;
  background:#192E54;
  transition: .5s ease;

}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  text-decoration: none;
}

ul li:hover a{
  padding-left: 60px;
  transition: .4s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

}


.flight-data {

  background: rgb(255,193,0);
  height: 100vh;
  width: 25%;
  background: linear-gradient(to right bottom, rgb(221, 142, 51),rgb(255, 91, 9));
  backdrop-filter: blur(2rem);

  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;

}

.map {

  height: 100%;
  width: 100%;

}


.attitude {
  background: rgb(255,193,0);
  background: linear-gradient(to right bottom, rgba(218, 194, 64, 0.7),rgba(251, 255, 9, 0.3));
  backdrop-filter: blur(2rem);
  height: 30vh;
  width: 40vh;
  border-radius: 10px;
  margin: 20px 38px;
}

.hud-class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.voice-activation{
  margin-left: 30px;
  font-size: 45px;
  color: #f56200;
  text-align: center;
  /* margin: 20px 20px; */
  transition: .5s;
}
.fas {
  cursor: pointer;
  transition: .5s;
}
.fas:hover {
  color: #ffc100;
}

i {
  background: linear-gradient(to right bottom, rgba(205, 114, 86, 0.7), rgba(222, 21, 21, 0.834));
  backdrop-filter: blur(2rem);
  height: 60px;
  width: 60px;
  border-radius: 10px;
  /* margin: auto 20px; */
  padding-top: 6px;

}

.arm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arm-button{
  width: 150px;
  background-color: #192E54;
  border: none;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  /* margin: 12px 0; */
  border-radius: 2rem;
  transition: .5s;
}


.parameter {
  height: 33vh;
  width: 290px;
  border-radius: 10px;
  background: rgb(255,193,0);
  background: linear-gradient(to right bottom, rgba(218, 194, 64, 0.7),rgba(251, 255, 9, 0.3));
  backdrop-filter: blur(2rem);
  border-radius: 10px;
  margin: 20px 38px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}

.parameter p {
  color: white;
  font-size: 3vh;
  text-align: center;
  line-height: 1em;
}

.parameter .number {
  font-size: 4vh;
}

.ui, .compass {
  min-width: 140px;
  min-height: 140px;
  border-radius: 100%;
  border: 3px solid white;
  bottom: 3px;
  position: relative;
  overflow: hidden;
  left: 1px;

}

#sky {
  position: absolute;
  width: 560px;
  height: 560px;
  left: -190px;
  top: -210px;
  z-index: 1;
}

#arrow {
  width: 110px;
  height: 20px;
  position: absolute;
  top: 63px;
  left: 12px;
  z-index: 3;
}

.altitude {
  position: absolute;
  top: 40px;
  left: 35px;
  /* border: 1px solid purple; */
  width: 60px;
  height: 60px;
  z-index: 2;
  overflow: hidden;
}

#bar {
  width: 50%;
  margin-top: -40px;
}

#degree {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
}

#arrow-degree {
  width: 40px;
  height: auto;
  position: absolute;
  top: 45px;
  left: 48px;
  z-index: 3;
}

.hud-p {
  position: absolute;
  font-size: 12px;
  color: white;
  z-index: 10;
}

h3{
  color:white;
  font-family: sans-serif;
}


.instruction {
  font-family: sans-serif;
  color: white;
  margin: 10px;
  padding: 0 15px;
}

.instruction p {
  font-size: 10px;
}

.leave-btn{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width : 150px;
  background: linear-gradient(to right bottom, rgba(205, 114, 86, 0.7), rgba(222, 21, 21, 0.834));;
  border: none;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 12px 50px;
  /* margin-left :75px; */
  border-radius: 2rem;
  transition: .5s;

}

.leave-contain{
  display: flex;
  justify-content: center;
  align-items: center;
}

.param-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 {
    position: absolute;
    width: 320px;
    height: 400px;
    right: 5%;
    top: 2%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right bottom, rgba(119, 123, 206, 0.7), rgba(46, 48, 175, 0.834));
    backdrop-filter: blur(2px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 9;
}

.dataset {
margin-top: 10px;
display: flex;
flex-direction: row;
align-items: center;
text-align: center;

}

/* .data {
display: flex;
align-items: center;
text-align: center;
} */

.rec-contain {
margin: 5px;
width: 68px;
height: 68px;
left: 90px;
top: 37px;
border-radius: 10px;
font-family: 'Titillium Web', sans-serif;
background: rgb(255, 255, 255);


}


.data-title {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    line-height: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    /* border-bottom: 3px solid rgb(89, 79, 225); */
    background: linear-gradient(to right bottom, rgba(205, 114, 86, 0.7), rgba(222, 21, 21, 0.834));

}

.rec-contain p{
    top: 0px;
    margin-top: 8px;
    font-size: 0.8rem;
}

.flight-time {
display: flex;
/* justify-content: space-around; */
line-height : 17px;
margin: 8px;
width: 160px;
height: 50px;
left: 90px;
top: 37px;
border-radius: 10px;
font-family: 'Titillium Web', sans-serif;
background: rgb(255, 255, 255);


}

.time-title {
    border-top-left-radius: 9px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    border-bottom-left-radius: 9px;
    line-height: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    /* border-bottom: 3px solid rgb(89, 79, 225); */
    background: linear-gradient(to right bottom, rgba(205, 114, 86, 0.7), rgba(222, 21, 21, 0.834));
}

.switch-button {
    margin-top: 3px;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 120px;
    height: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: #155fff;
    position: relative;
    padding-right: 55px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}
.switch-button:before {
    content: "Armed";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(60px);
    transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 6px 6px;
    display: block;
    user-select: none;
    pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}


.dragheader {
    padding: 10px;
    margin-top: 7px;
    border-radius: 7px;
    cursor: move;
    z-index: 10;
    background: linear-gradient(to right bottom, rgba(251, 241, 51, 0.7), rgba(237, 21, 21, 0.834));
    color: #fff;
}

#draggable-elem{
    cursor: move;
}
.hud-container{
  position: absolute;
  width: 285px;
  height: 160px;
  min-width: 285px;
  min-height: 140px;
  border-radius: 100px;
  right: 5%;
  bottom: 2%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right bottom, rgba(119, 123, 206, 0.7), rgba(46, 48, 175, 0.834));
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}

/* .hud {
  background: rgb(255,193,0);
  background: linear-gradient(to right bottom, rgba(218, 194, 64, 0.7),rgba(251, 255, 9, 0.3));
  backdrop-filter: blur(2rem);
  margin: 20px 38px;
  text-align: center;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
