<!DOCTYPE html>
<html lang="en">
  <head>

  </head>



<body>

  <nav>
    <img class="aksantara" src="../../assets/image/aksantara.png"/>
    <ul>
      <li><h1>Home</h1></li>
      <li><a class="active" href="#" (click)="logoutUser()">Logout</a> </li>
    </ul>

  </nav>


  <main>
    <div class="container">
      <section class="glass">
        <div class="flight-data">
          <img src="../../assets/svg/progress.svg"/>
          <a class="btn" routerLink="/flight-data">Flight Data</a>

        </div>

      </section>
      <section class="glass">
        <div class="mission">
          <img src="../../assets/svg/graph.svg"/>
          <a class="btn" routerLink="/mission">Mission</a>

        </div>


      </section>
      <section class="glass">
        <div class="parameter">
          <img src="../../assets/svg/setup.svg"/>
          <a class="btn" routerLink="/parameter">Parameter</a>

        </div>


      </section>


    </div>

  </main>
</body>

</html>
